#FileUpload {
  display: flex;
  justify-content: center;
}
.wrapper {
  margin: 30px;
  padding: 10px;

  border-radius: 10px;
  background-color: #212225;
  width: 415px;
}

.upload {
  margin: 10px;
  height: 185px;
  border: 8px dashed #db962e;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
.upload p {
  margin-top: 10px;
  line-height: 0;
  font-size: 22px;
  color: #dcac00;
  letter-spacing: 1.5px;
}
.upload__button {
  background-color: #f0eaea;
  border-radius: 10px;
  padding: 0px 8px 0px 10px;
  opacity: 0.2;
}
.upload__button:hover {
  cursor: pointer;
  opacity: 0.8;
}

.uploaded {
  width: 375px;
  margin: 10px;
  background-color: #111215;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.file {
  display: flex;
  flex-direction: column;
}
.file__name {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  width: 300px;
  line-height: 0;
  color: #9c7a00;
  font-size: 18px;
  letter-spacing: 1.5px;
}
.fa-times:hover {
  cursor: pointer;
  opacity: 0.8;
}
.uploaded img {
  max-width: 60px;
  max-height: 60px;
}

/* To Do List */
.title {
  text-align: center;
  color: aliceblue;
  height: 30px;
  padding:5px;
}

.field {
  display:flex;
  justify-content: center;
  padding: 10px;
  
}
.fieldButton {
  color: #db962e;
  background-color: #212225;
  border-width: 1PX ;
  border-color: #dcac00;
  border-radius: 10px;
  margin-left: 10px;
  
  
}
.fieldButton:hover {
  color:#212225;
  background-color:#db962e;
  
} 
.taskBox {
  display:flex;
  justify-content: center;
  margin: 8px;
}
.square {
  border:1px solid white;
  color: aliceblue;
  background-color: #212225;
}

