.LinkCarro {
    color: blue;
    width: 200px;
}

/* PANTALLA CELULAR CARRO DE COMPRA LLENO */

@media only screen and (min-width: 520px) {

    .tituloCarro {
        padding: 80px 0px 40px;
        width: 400px;
        color: #DB962E;
    }



    .cajaProducto {
        width: 400px;
        border-radius: 50px;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6),
        ;
        border: none;
        outline: none;
        background-color: rgba(0, 0, 0, 0.11);


    }

    .imgProducto {
        width: 100px;
        height: 100px;
        margin: auto;
        margin-left: 10px;

    }

    .cajaDescripcionProducto {
        margin: auto;
        width: 250px;
        padding: 0;
        padding-left: 15px;
    }

    .cajaDescripcionProducto h5 {
        font-size: 20px;
        width: 250px;
        margin-left: 0px;
    }

    .cajaDescripcionProducto p {
        font-size: 16px;
        width: 270px;
        color: #DB962E;

    }

    .cajaResumenPedido {
        margin-bottom: 60px;
    }

    .botonPagar {
        margin-top: 40px;
        width: 400px;
        vertical-align: middle;
        background: #DB962E;
        margin: auto;
    }

}

/* PANTALLA TABLET  CARRO DE COMPRA LLENO */

@media only screen and (min-width: 760px) {
    .tituloCarro {
        padding: 80px 0px 40px;
        width: 550px;
        color: #DB962E;
    }

    .cajaProducto {
        width: 550px;
        border-radius: 10px;
    }

    .imgProducto {
        width: 150px;
        height: 150px;
        margin: auto;
        margin-left: 10px;

    }

    .cajaDescripcionProducto {
        margin: auto;
        width: 350px;
        padding: 0;
        padding-left: 15px;
    }

    .cajaDescripcionProducto h5 {
        font-size: 23px;
        width: 350px;
        margin-left: 0px;
    }

    .h5codigo {
        text-align: center;
    }

    .cajaDescripcionProducto p {
        font-size: 19px;
        width: 360px;
        color: #DB962E;

    }

    .cajaResumenPedido {
        margin-bottom: 60px;
        width: 500px;
        font-size: 19px;
    }

    .botonPagar {
        margin-top: 40px;
        width: 550px;
        vertical-align: middle;
        background: #DB962E;
        margin: auto;
        font-size: 23;
    }

}

/* PANTALLA LAPTOP CARRO DE COMPRA LLENO */

@media only screen and (min-width: 990px) {
    .tituloCarro {
        padding: 80px 0px 40px;
        width: 570px;
        color: #DB962E;
    }

    .cajaProducto {
        width: 570px;
        border-radius: 10px;
        height: 200px;
    }

    .imgProducto {
        width: 160px;
        height: 160px;
        margin: auto;
        margin-left: 10px;

    }

    .cajaDescripcionProducto {
        margin: auto;
        width: 380px;
        padding: 0;
        padding-left: 15px;
    }

    .cajaDescripcionProducto h5 {
        font-size: 23px;
        width: 380px;
        margin-left: 0px;
    }

    .h5codigo {
        text-align: center;
    }

    .cajaDescripcionProducto p {
        font-size: 19px;
        width: 390px;
        color: #DB962E;

    }

    .cajaResumenPedido {
        margin-bottom: 60px;
        width: 600px;
        font-size: 19px;
    }

    .botonPagar {
        margin-top: 40px;
        width: 600px;
        vertical-align: middle;
        background: #DB962E;
        margin: auto;
        font-size: 23;
    }

}

/* PANTALLA GRANDE CARRO DE COMPRA LLENO */
@media only screen and (min-width: 1200px) {
    .tituloCarro {
        padding: 80px 0px 40px;
        width: 900px;
        color: #DB962E;
    }

    .cajaProducto {
        width: 900px;
        border-radius: 10px;
        height: 250px;
    }

    .imgProducto {
        width: 200px;
        height: 200px;
        margin: auto;
        margin-left: 10px;

    }

    .cajaDescripcionProducto {
        margin: auto;
        width: 440px;
        padding: 0;
        padding-left: 15px;
    }

    .cajaDescripcionProducto h5 {
        font-size: 26px;
        width: 440px;
        margin-left: 0px;
    }

    .h5codigo {
        text-align: center;
    }

    .cajaDescripcionProducto p {
        font-size: 19px;
        width: 650px;
        color: #DB962E;

    }

    .cajaResumenPedido {
        margin-bottom: 60px;
        width: 900px;
        font-size: 19px;
    }

    .botonPagar {
        margin-top: 40px;
        width: 500px;
        vertical-align: middle;
        background: #DB962E;
        margin: auto;
        font-size: 23;
    }


}

/* separación */

/* RESPONSIVE CARRO VACIO */
@media only screen and (min-width: 520px) {
    .cajaProductoVacio {
        margin-top: 30px;
        width: 50%;
        border-radius: 25px;
    }

    .botonPagar {
        width: 50%;
        margin-bottom: 50px;
    }

    .tituloCarroVacio {

        text-align: center;
        margin: auto;
        margin-bottom: 50px;
    }

    .parrafoCarro {
        margin: auto;
    }

    .fondoCarroVacio {
        height: 100%;
    }
}

/* CSS PARA BOTON */

.button {
    padding: 15px 25px;
    border: unset;
    border-radius: 15px;
    color: #212121;
    z-index: 1;
    background: #DB962E;
    position: relative;
    font-weight: 1000;
    font-size: 17px;
    /* -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27); */
    transition: all 250ms;
    overflow: hidden;
}

.button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: #be8226;
    z-index: -1;
    /* -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27); */
    transition: all 250ms
}

.button:hover {
    color: #e8e8e8;
}

.button:hover::before {
    width: 100%;
}