@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
body{

    font-family: 'Montserrat', sans-serif;
    
}
img{
    width: 550px;
    height: 550px;
    object-fit: contain;
    object-position: center;
} 
    