.slider {
    display: flex;
    align-items: center;
    margin: 10px;  
    padding: 10px 50px 10px 50px;
    opacity: 0;
    transform: scale(85%);
    transition: 2s;
  } 
  .a{
    color:rgb(104, 104, 104) ;
    text-decoration: none

  }
  
  .slider--zoom {
    opacity: 1;
    transform: scale(100%);
    transition: 2s;
    
  }
  
  .slider__image {
    width: 60%;
  }
  
  .slider__content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    text-align: center;
  }
  
  .slider__title {
    text-align: center;
    
  }
  
  @media screen and (max-width: 800px) {
    .slider {
      flex-direction: column;
      background-color: rgb(255, 254, 254);
      padding: 10px;
    }
  
    .slider__image {
      width: 100%;
    }
  }